
.layout {
    font-family: "Jua", sans-serif;
    background-color: blueviolet;
    width: 200px;
    height: 200px;
    border: 10px dotted black;
    border-radius: 20px;
}
#layout_id_02 {
    background-color: brown;
    width: 100px;
    height: 100px;
    margin: 50px ;
    padding: 50px;
}
.layout02 > P{
    font-size: 20px;
    font-weight: 700;
    color: white;
    
}